.body{
    height: 120vh;
}
.newsImg{
    width: 100%;
    height: 100%;
}
.icon_container{
    
}
@media screen and (max-width: 854px) {
        .newsImg{
            width: 100% !important;
            height: 50% !important;
        }
}